<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TEMPLATE IS WORKING</title>
</head>
<body>
<h1>WELCOME ENTER YOUR TEXT HERE</h1>
<form action="/analyze" method='get'>
    <textarea  name='text ' style="width: 1047px; height: 213px;">
    </textarea><br>
    <input type="checkbox" name="removepunc"> Remove Punctuations<br>
    <button type = 'submit' > Enter</button>
</form>
</body>
</html>